body{
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.main{
    width: 900px;
    height: 700px;
    margin: 20px auto;
    background-color: #D7D7D7;
    border-radius: 40px;
    padding: 20px;
}
.main p{
    margin-left: 10px;
}
.button{
    width: 900px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
a{
    margin: auto;
}
a button{
    font-size: 1.5em;
    border-radius: 5px;
}
